html,
body {
    background-color: rgb(0,0,0) !important;
      height: 100% !important;
      position: relative;
}

body {
    height: 100%;
    width: 100%;
}


/* 
footer{
    width: 100%;
    top: 90.2%;
    position: fixed;
    background-color:  rgb(0,0,0) !important;
} */


.register_logo {
    text-align: center !important;
    width: 300px;
    height: 300px;
}

.register-input,.login-input {
    border: 2px solid rgb(217,181,81) !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important; 
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: rgb(0,0,0) !important;
    color: #fff !important;
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
}

.register-input:focus, .login-input:focus {
    background-color: rgb(0,0,0) !important;
}

::placeholder {
    font-weight: bold;
    /* letter-spacing: 3px; */
    font-size: 15px;
    font-family: 'Kudryashev Display' !important;
}

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
  }
  input[data-autocompleted] {
      background-color: transparent !important;
  }

  .hr{
      border-top: 3px solid rgb(217,181,81,0.8);
      opacity: 0.8;
  }

  .text{
      color: rgb(217,181,81) !important;
      font-weight: bold;
      margin-top: 15px !important;
      font-family: 'Kudryashev Display' !important;
  }


  .vvip_text{
    color: rgb(217,181,81) !important;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Kudryashev Display' !important;
    display: inline !important;
    text-align: right;
    padding-top: 10px !important;
}

    #cns_no_data_text{
        text-transform: capitalize;
    }

  .url{
      /* text-align: center !important; */
      color: rgb(217,181,81,0.8);
      font-family: 'Kudryashev Display' !important;
      display:inline-block !important;
      font-weight: bold;
  }

  .vvip_link {
      padding-right: 5px !important;
      padding-top: 5px !important;
  }

  input[type='radio'] { accent-color: rgb(217,181,81,0.8); }


  .url_input{
    border: 2px solid rgb(217,181,81) !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important; 
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: rgb(0,0,0) !important;
    color: rgb(255,255,255, 0.5)!important;
    font-weight: bold;
    display: inline !important;
    letter-spacing: 3px;
    font-family: 'Kudryashev Display' !important;
  }

  .hr_bottom{
    border-bottom: 3px solid rgb(217,181,81,0.8);
    opacity: 0.8;
}

.register-btn{
    background-color: rgb(217,181,81) !important;
    color: #000 !important;
    font-family: "Britannic Bold";
    border-color:  rgb(217,181,81) !important;
}

.login-btn {
    background-color: rgb(217,181,81) !important;
    color: #000 !important;
    font-family: "Britannic Bold";
    border-color:  rgb(217,181,81) !important;
}


.link{
    color: rgb(217,181,81) !important;
    font-weight: bold;
    font-family: "Britannic Bold";
    text-align: center !important;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
}


.main_logo{
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
}

svg{
    width: 100px;
    height: 100px;
    margin: 20px;
    display:inline-block;
    top: 70% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
  }


  .bg-dark{
    background-color: rgb(0,0,0) !important;
  }


  .card-custom{
      height: 500px;
      border: 2px solid rgb(217,181,81) !important;
      background-color: rgb(0,0,0) !important;
      color: #fff;  
  }

.plan{
    top: 30% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: "Britannic Bold";
    letter-spacing: 4px;
}

.tier{
    top: 40% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: "Britannic Bold";
    /* letter-spacing: 3px; */
}

.img-plan{
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
}

.plan_text{
    top: 60% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 26px;
    letter-spacing: 3px;
    font-family: "Britannic Bold";
}

.plan_text_two{
    top: 68% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 26px;
    letter-spacing: 3px;
    font-family: "Britannic Bold";
}

.plan_btn {
    top: 85% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 250px;
    font-weight: bold !important;
    font-family: "Britannic Bold";
}

.web_pin{
border: 2px solid rgb(217,181,81) !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important; 
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: rgb(0,0,0) !important;
    color: #fff !important;
}


.pin_btn{
    background-color: rgb(217,181,81) !important;
    color: #000 !important;
    font-family: "Britannic Bold";
    border-color:  rgb(217,181,81) !important;
}

.load{
    margin-top: 120px !important;
    overflow: auto !important;
}

.logo{
    width: 300px !important;
    height: 300px;
}

* { box-sizing: border-box; }



.url_text{
    text-align: left !important;
    color: rgb(217,181,81) !important;
    font-weight: bold;
    font-family: 'Kudryashev Display' !important;
    font-size: 17px;
    padding-top: 2px;
}

.template {
    border: 2px solid rgb(217,181,81) !important;
    background-color:  rgb(0,0,0) !important;
    font-size: 18px;
}

.template:hover {
    background-color:  rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

.sub-btn{
    border: 2px solid rgb(217,181,81) !important;
    background-color:  rgb(0,0,0) !important;
    font-size: 19px;
    font-weight: bold;
    margin-right: 5px !important;
    float: right !important;
}

.sub-btn:hover{
    background-color:  rgb(217,181,81) !important;
    transition-duration: 1s !important;
    color: rgb(0,0,0);
}

.save{
    border: 2px solid rgb(217,181,81) !important;
    background-color:  rgb(0,0,0) !important;
}

.save:hover{
    background-color:  rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

#countdown{
    color : #d9b551 !important;
    display: inline-block !important;
    vertical-align: middle !important;  
    font-weight: bold;
	font-family: 'Kudryashev Display' !important;
    display: flex !important;
    justify-content: center !important;
    font-size: 30px;
    margin-top: 10% !important;
    text-align: center !important;
}

#days {
    margin-right: 20px !important;
}

#minutes{
    margin-left: 20px !important;
}

#seconds {
    margin-left: 20px !important;
}

span {
    display: block;
    font-size: 25px;
    color: white;
  }


.register_image{
    width:  300px;
    height: 300px;
    margin-top: 5% !important;
}

.panel-text{
    color : rgb(217,181,81) !important;
    text-align: center;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 20px;
    margin-top: 30px;
}

#navbarDropdownMenuLink{
    text-transform: capitalize !important;
    letter-spacing: 2px;
    color: rgb(217,181,81) !important;
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
}


.modal-open{overflow:auto !important;padding-right:0 !important;}


.modal {
    padding-right: 0px !important;
}

#image_data {
    margin-top: 10px !important;
    transform-style: preserve-3d;
    transform: rotateX(-25deg) rotateY(15deg);
    box-shadow: rgb(217,181,81,0.5) 0px 60px 40px -7px;
    background-color: #fff !important;
}

.modal-content,.modal-body{
    background-color: rgb(0,0,0) !important;
    border-bottom : none !important;
}

.modal-footer{
    border-top : none !important;
}

#front_img{
    transform-style: preserve-3d;
    background-color: #fff;
    transform: rotateX(-35deg) rotateY(20deg);
    box-shadow: rgb(217,181,81) 0px 60px 40px -7px;
}

#back_img{
    transform-style: preserve-3d;
    transform: rotateX(-35deg) rotateY(20deg);
    background-color: #fff;
    box-shadow: rgb(217,181,81) 0px 60px 40px -7px;
}

.zoom{
    margin-top: 5px !important;
    background-color: rgb(0,0,0) !important;
    border: 2px solid rgb(217,181,81) !important;
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    
}

.zoom:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

#success_p{
    color: rgb(217,181,81) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px !important;
    letter-spacing: 5px;
}

#background_color{
    width: 99px;
    height: 90px; 
    -webkit-appearance: none;
    border-radius: 50% !important;
    text-align: center !important;
    /* align-items: center !important;
    display: flex !important;
    justify-content: center !important; */
    margin-left: 160px !important;
    overflow: hidden;
    background-color: rgb(0,0,0) !important;
    box-shadow: 2px 2px 10px rgb(255,255,255,0.7);
}

#background_color::-webkit-color-swatch {
    border: none;
    border-radius: 50% !important;
    padding: 0;
}

#background_color::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50% !important;
    padding: 0;
}

#background_color:focus{
    border-color: rgb(217,181,81) !important;
    box-shadow: 2px 2px 10px rgb(255,255,255,0.7) !important;
}

#text_highlight_color{
    width: 99px;
    height: 90px; 
    -webkit-appearance: none;
    border-radius: 50% !important;
    text-align: center !important;
    /* align-items: center !important;
    display: flex !important;
    justify-content: center !important; */
    margin-left: 160px !important;
    overflow: hidden;
    background-color: rgb(0,0,0) !important;
    box-shadow: 2px 2px 10px rgb(255,255,255,0.7);
}

#text_highlight_color::-webkit-color-swatch {
    border: none;
    border-radius: 50% !important;
    padding: 0;
}

#text_highlight_color::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50% !important;
    padding: 0;
}

.__mm {
    font-size: 17px !important;
}

.select-card{
    margin-top: 5px !important;
    background-color: rgb(0,0,0) !important;
    font-weight: bold;
    border: 2px solid rgb(217,181,81) !important;
}

.select-card:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

#cancel{
    border: 2px solid rgb(217,181,81) !important;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 4px !important;
}

#cancel:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

#card_blank_front{
    margin-top: 5% !important;
    width: 100%;
    height: 250px;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(217,181,81, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#card_blank_back{
    margin-top: 5% !important;
    width: 100%;
    height: 250px;
    background-color: #fff;
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(217,181,81, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}


#backcard{
    position: relative;
}

.modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important; /* IE 9 */
    -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
  }

#normal_default_txt_left{
    position: absolute;
    top: 71% !important;
    font-size: 20px !important;
    left: 29% !important;
    font-weight: bold;
	font-family: 'Kudryashev Display' !important;
}

#normal_default_txt_right{
    position: absolute;
    top: 71% !important;
    font-size: 20px !important;
    left: 60% !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
}

#card_front{
width: 100%;
height: 250px;    
}

#card_back{
    width: 100%;
    position:relative;
}

#text_div{
    margin-top: 20px;
}

.front_card_name{
    width: 100%;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold !important;
    margin: auto;
    position: absolute;
    top: 57% !important;
}

.card_description{
    width: 100%;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold !important;
    margin: auto;
    position: absolute;
    top: 64% !important;
}

.add_width{
    max-height: 50px !important;
}

.color_border{
    border: 2px solid rgb(217,181,81);
}

#qr_scan{
    position: absolute;
    top: 75% !important;
    left: 41% !important;
}

#logo_view{
    border-radius: 50% !important;
}

#logo_view{
    position: absolute;
    top: 27% !important;
    left: 42% !important;
}


.edit_name{
    background-color: rgb(0,0,0) !important; 
    border: 2px solid rgb(217,181,81) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}


.edit_description{
    background-color: rgb(0,0,0) !important; 
    border: 2px solid rgb(217,181,81) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.btn-place{
    margin-top: 5px !important;
    font-weight: bold;
}
  
/* .home-col{
    position: relative;
} */

.home-col img{
/* box-shadow:  2px 2px 10px rgb(217,181,81, 0.5); */
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.7;
}

/* .home-col .action{
position: absolute;
top: 46%;
left: 65%;
} */

.action{
    background-color: rgb(0,0,0) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid rgb(217,181,81) !important;
}

.action:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.8s !important;
    color:rgba(0, 0, 0) !important;
}

/* .home-col .create{
position: absolute;
top: 46%;
left: 23%;
} */

.create{
    background-color: rgb(0,0,0) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid rgb(217,181,81) !important;
}

.create:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.8s !important;
    color:rgba(0, 0, 0) !important;
}

/* .home-col .profile{
position: absolute;
top: 46%;
left: 65%;
} */

.profile {
    background-color: rgb(0,0,0) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid rgb(217,181,81) !important;
}

.profile:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.8s !important;
    color:rgba(0, 0, 0) !important;
}

/* .home-col .setting{
position: absolute;
top: 46%;
left: 23%;
} */

.setting{
    background-color: rgb(0,0,0) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid rgb(217,181,81) !important;
}

.setting:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.8s !important;
    color:rgba(0, 0, 0) !important;
}

.profile_img{
    border-radius: 50%;
}

.create_content{
    background-color: rgb(217,181,81) !important;
}

.c_s{
    font-size: 13.8px !important;
    letter-spacing: 0 !important;
    height: 29px !important;
}

.menu{
    font-size: 20px !important;
    color: #fff;
    text-decoration: none;
}

.color_black{
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
	font-family: 'Kudryashev Display' !important;
    letter-spacing: 2px;
}

.appear{
	font-family: 'Kudryashev Display' !important;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 35px !important;
    font-weight: bold;
}

.appear-btn{
    border: 2px solid rgb(217,181,81) !important;
    background-color: rgb(0,0,0) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff !important;
}

.appear-btn:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s;
}

#card_appear{
    background-color: #000 !important;
    margin-top: 20px !important;
}

.social_link{
    padding-top: 12px !important;
    padding-left: 10px !important;
}

.dlink_card{
    background-color: rgb(51,51,51) !important;
    border: none !important;
}

.dlink_main_card{
    border: none !important;
    background-color: rgb(51,51,51) !important;
}


.dlink_btn{
    margin-top: 10px;
    background-color: rgb(51,51,51) !important;
}

.active_card{
    background-color: rgb(217,181,81) !important;
    border: 2px solid rgb(217,181,81) !important;
    box-shadow:
	  20px 20px 60px rgb(217,181,81),
	  -20px -20px 60px rgb(217,181,81,0.2);
    padding-top: 9px !important;
}



#ca{
    background-color: rgb(0,0,0) !important;
}

/* input[type="file"]:after {color: #fff !important;} */
label.label_file { 
    padding: 5px;
  }

  .file_upload {
    display: none !important;
}

.uploadLogo{
    display: none !important;
}

.link_file_upload{
    display: none !important;
}

.upload_logo_text{
    color: #000 !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    letter-spacing: 2px;
}

#upload_logo{
    color: #fff !important;
    border: 2px solid rgb(217,181,81) !important;
    background-color: rgb(0,0,0) !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

#backcard{

}

.custom-case{
    font-size: 20px !important;
    color : #fff;   
    padding-right: 5px !important;
    /* color: rgb(217,181,81) !important; */
}

#upload_logo:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
    text-shadow: 2px 2px 10px rgb(0,0,0, 0.7);
}

#up_load_btn{
    background-color: #000 !important;
    border:2px solid #d9b551 !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    letter-spacing: 2px;
    color : #fff;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

#up_load_btn:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
}


#editName{
    color: #fff !important;
    border: 2px solid rgb(217,181,81) !important;
    background-color: rgb(0,0,0) !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    padding-left: 5px !important;
}

#editName:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
    text-shadow: 2px 2px 10px rgb(0,0,0, 0.7);
}

#editDescription{
    color: #fff !important;
    border: 2px solid rgb(217,181,81) !important;
    background-color: rgb(0,0,0) !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

#editDescription:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
    text-shadow: 2px 2px 10px rgb(0,0,0, 0.7);
}

.position_place{
    color: #fff !important;
    border: 2px solid rgb(217,181,81) !important;
    background-color: rgb(0,0,0) !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.position_place:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
    text-shadow: 2px 2px 10px rgb(0,0,0, 0.7);
}

.position-icon{
    padding-top: 5px;
}

.fas.fa-arrows-alt{
    padding-right: 3px !important;
}
.fas.fa-caret-right{
    padding-left: 3px !important;
}

.action-btn{
    background-color: rgb(0,0,0) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    color: #fff !important;
    border-color: rgb(217,181,81) !important;
}


.navbar-footer {
    overflow: hidden;
    background-color: rgb(0,0,0);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;   
  }


  .create_content_icon{
    padding-top: 35px;
    color: rgb(255,255,255);
  }

  .home_route{
      width: 90px;
      height: 90px
  }

  .menu_list{
    padding-top: 35px;
    color: rgb(255,255,255);
  }


  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }


.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }


  input:checked + .slider {
    background-color: rgb(217,181,81);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(217,181,81);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .profile_text{
      color: rgb(217,181,81);
      text-shadow: -5px 5px 5px rgba(255,255,255,0.2);
      font-weight: bold;
      /* text-transform: capitalize; */
      font-family: 'Kudryashev Display' !important;
      letter-spacing: 4px;
  }

  .profile_txt{
    color: rgb(255,255,255);
    /* text-shadow: -5px 5px 5px rgb(217,181,81,0.3); */
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
	font-family: 'Kudryashev Display' !important;
    letter-spacing: 2px;
  }
  
  
  .edit_profile{
    background-color: rgba(0, 0, 0) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    border: 2px solid rgb(217,181,81) !important;
    letter-spacing: 1px;
  }

  .edit_profile:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.8s;
  }

  .menu_arrow{
    text-align:right; 
    float:right; 
    margin-top: 3px;
  }

  .menu_button{
    background-color: rgb(255,255,255, 0.8) !important;
    color: #000 !important;
    width: 100%;
	font-family: 'Kudryashev Display' !important;
    letter-spacing: 2px;
    text-align: left !important;
    font-weight: bold;
    border: 2px solid rgb(217,181,81) !important;
  }

  .menu_button:hover{
    background: rgb(217,181,81) !important;  /* fallback for old browsers */
    transition-duration: 0.9s !important;
  } 
  #save_contact{
    background-color: rgba(0, 0, 0) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid rgb(217,181,81) !important;
    color: #fff;
    font-size: 20px;
  }

  #save_contact:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.7s;
  }


  #section_cancel{
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid rgb(217,181,81) !important;
    font-size: 20px;
  }

  #ok{
    background-color: rgba(0, 0, 0) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    border: 2px solid rgb(217,181,81) !important;
    font-size: 20px;
  }

  #ok:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.7s;
  }

  .active_save{
    background-color: rgb(0,0,0) !important;
    border: 2px solid rgb(217,181,81) !important;
    letter-spacing: 2px;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
}

#deeplink{
    border: 2px solid rgb(217,181,81) !important;
}

#email_click{
    border: 2px solid rgb(217,181,81) !important;
}

.cancel_deep{
    background-color: rgb(255,255,255) !important;
    border: 2px solid rgb(217,181,81) !important;
    letter-spacing: 2px;
    color: #000 !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
}

    .just_save{
    background-color: rgb(0,0,0) !important;
    border: 2px solid rgb(217,181,81) !important;
    letter-spacing: 2px;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
}

.save_all{
    background-color: rgb(0,0,0) !important;
    border: 2px solid rgb(217,181,81) !important;
    letter-spacing: 2px;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
}

.text_color{
	font-family: 'Kudryashev Display' !important;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 2px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
  }

  #navbarDropdown{
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .dropdown-menu:hover{
    background-color: rgb(0,0,0) !important;
    transition-duration: 1s !important;
  }

  .dropdown-menu{
    background-color: rgb(217,181,81) !important;
    font-weight: bold;
  }

  .lang_drop{
      color: #fff;
      font-weight: bold;
      text-align: center;
      font-family: 'Kudryashev Display' !important;
      letter-spacing: 2px;
  }
  

  .drop_link{
    color: #fff !important;
    font-weight: bold !important;
    font-family: 'Kudryashev Display' !important;
    letter-spacing: 2px !important;
    font-size: 16px;
    text-align: center;
    text-decoration: none !important;
  }

  .dropdown_logout{
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: rgb(217,181,81) !important;
  }

  .dropdown_logout:hover{
    background-color: rgb(0,0,0) !important;
    color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
  }
  
#text_color{
    width: 99px;
    height: 90px; 
    -webkit-appearance: none;
    border-radius: 50% !important;
    text-align: center !important;
    /* align-items: center !important;
    display: flex !important;
    justify-content: center !important; */
    margin-left: 160px !important;
    overflow: hidden;
    background-color: rgb(0,0,0) !important;
    box-shadow: 2px 2px 10px rgb(255,255,255,0.7);
}

#text_color::-webkit-color-swatch {
    border: none;
    border-radius: 50% !important;
    padding: 0;
}

#text_color::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50% !important;
    padding: 0;
}

#text_color:focus{
    border-color: rgb(217,181,81) !important;
    box-shadow: 2px 2px 10px rgb(255,255,255,0.7) !important;
}

.save_all:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.8s;
}

.active_save:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.8s;
}

.just_save:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.8s;
}

.load-more{
    background-color: rgb(0,0,0) !important;
    letter-spacing: 2px;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    border: 2px solid rgb(217,181,81) !important;
}

.load-more:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

.load-previous{
    background-color: rgb(0,0,0) !important;
    letter-spacing: 2px;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    border: 2px solid rgb(217,181,81) !important;
}

.load-previous:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

.save_tree{
    background-color: rgb(0,0,0) !important;
    letter-spacing: 2px;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    border: 2px solid rgb(217,181,81) !important;
}

.save_tree:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

.link_tree_d_btn{
    background-color: rgb(0,0,0) !important;
    border: 2px solid rgb(217,181,81) !important;
	font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff !important;
}

.link_tree_d_btn:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.5s !important;
}

.payment{
    border-top-left-radius: 10% !important;
    border-bottom-right-radius: 10% !important;
}

#menu_container{
    height: 500px !important;
}


.team_profile_one, .team_profile_two, .team_profile_three, .team_profile_four{
    box-shadow: 0px 0px 18px rgb(255,255,255, 0.1);
    display: block;
    opacity: 1;
    transition: .5s ease;
    /* border: 2px solid rgb(217,181,81,0.2); */
    backface-visibility: hidden;
}

.team_profile_one:hover, .team_profile_two:hover, .team_profile_three:hover, .team_profile_four:hover{
    transform-style: preserve-3d;
    transform: rotateY(-50deg);
    transition-duration: 1s;
}

.team_name_one, .team_name_two, .team_name_three, .team_name_four{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    background-color: rgb(0,0,0,0.4);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.about_video{
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.team_text{
    text-shadow: 2px 2px 10px rgb(0,0,0);
}

.team_div_one, .team_div_two, .team_div_three, .team_div_four{
    position: relative;
}

.team_div_one:hover .team_profile_one, .team_div_two:hover .team_profile_two, .team_div_three:hover .team_profile_three, .team_div_four:hover .team_profile_four{
    opacity: 0.3 !important;
}

.team_div_one:hover .team_name_one, .team_div_two:hover .team_name_two, .team_div_three:hover .team_name_three, .team_div_four:hover .team_name_four{
    opacity: 1 !important;
}

.apps {
    /* border-radius: 1em/.5em; */
    border-radius: 50% !important;
}

.apps:hover{
    transform-style: preserve-3d;
    transform: rotateX(25deg);
    box-shadow: 0px 0px 18px rgb(255,255,255, 0.1);
    transition-duration: 1s !important;
}

#typewrite{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}

.sure{
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(0,0,0);
}

.purp {
    background-color: rgb(217,181,81);
    border-radius: 50% !important;
    border: 2px solid rgb(217,181,81);
    /* text-shadow: 2px 2px 10px rgb(217,181,81); */
}

#check_confirm{
    border: 2px solid rgb(217,181,81);
    background-color: rgb(0,0,0) !important;
    letter-spacing: 2px;
    font-weight: bold;
}

#check_confirm:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

.package_text{
    letter-spacing: 3px;
    font-weight: bold;
    line-height: 1.6;
}

.fas.fa-question{
    font-size: 12px;
    color: #fff !important;
}
.span_question{
    background-color: rgb(0,0,0) !important;
    border: 2px solid rgb(217,181,81) !important;
    border-radius: 50% !important; 
    width: 24px !important;
    opacity: 0.5;
    padding: 0 !important;
    height: 24px !important;
    margin-left: 2px !important;
    display: inline-block;
}

#fof_bg{
    background: url('https://cdn1.vectorstock.com/i/thumb-large/73/65/404-error-page-not-found-in-glitch-effect-style-vector-36027365.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    top: 20%;
}

.mapouter{position:relative;text-align:right;height:500px;width:100% !important;}

.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100% !important;}

#gmap_canvas{
    height:500px;
    width:100% !important;
}

#sub_contact{
    font-size: 19px !important;
    letter-spacing: 2px !important;
    line-height: 25px !important;
}
#user_contact{
    font-weight: bold !important;
    text-transform: capitalize !important;
}

#alert_message{
    font-weight: bold !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
	font-family: 'Kudryashev Display' !important;
}

.input-lg{
    color: rgb(217,181,81) !important;
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
}

.input-lg::placeholder{
    font-weight: bold;
    font-family: 'Kudryashev Display' !important;
    color: rgb(217,181,81) !important;
}

#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	/* z-index: -1; */
}

.spin{
    background: none !important;
    background-color: none !important;
    border: none !important;    
}
button.spin:focus{
    border-color: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

#menu_list_card{
    background-color: rgb(0,0,0) !important;
}

.menu-icon{
    color: rgb(217,181,81);
    font-size: 22px;
    text-shadow: 2px 2px 10px rgb(0,0,0,0.8);
}

.error_texts {
    font-size: 15px;
    color: rgb(223,75,68) !important;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

#error_name {
    font-size: 15px !important;
}

.moreinfo_package{
    border: 2px solid rgb(217,181,81) !important;
    background-color: rgb(0,0,0) !important;
    font-weight: bold;
    color: rgb(255,255,255);
    margin-top: 35px !important;
}

.moreinfo_package:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
}


.add_moree{
    border: 2px solid rgb(68, 112, 71) !important;
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    color: rgb(0,0,0) !important;
    letter-spacing: 2px;
    background-color: rgb(255,255,255) !important
}

.add_moree:hover{
    background-color:rgb(68, 112, 71) !important;
    transition-duration: 1s !important;
    color: rgb(255,255,255) !important;
}

.submit_link_tree{
    border: 2px solid rgb(217,181,81) !important;
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    color: rgb(0,0,0) !important;
    letter-spacing: 2px;
    background-color: rgb(255,255,255) !important
}

.submit_link_tree:hover{
    background-color:rgb(217,181,81) !important;
    color: rgb(255,255,255) !important; 
    transition-duration: 1s !important;
}

#card_lang{
    background-color:rgb(0,0,0) !important;
}
.langbtn{
    border: 2px solid rgb(217,181,81) !important;
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    color: rgb(255,255,255) !important;
    background-color: rgb(0,0,0) !important;
}

.langbtn:hover{
    background-color:rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

.question_link{
    color: #fff !important;
    text-decoration: none !important;
}
/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    opacity: 0.7;
    /* -webkit-box-shadow: 0 20px 30px rgba(0,0,0,0.2) , inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0,0,0,0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0,0,0,0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1); */
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(217,181,81,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(217,181,81,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(217,181,81,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(217,181,81,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(217,181,81,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(217,181,81,0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(217,181,81,0.3);
	box-shadow: inset 0 20px 30px rgba(217,181,81,0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.fa-exclamation-triangle{
    color: rgb(247,231,2);
}

.user_warning_text{
    font-weight: bold;
}

#cancel_confirm{
    border:2px solid rgb(217,181,81) !important;
    color: rgb(0,0,0) !important;
    font-weight: bold;
}

#cancel_confirm:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.7s !important;
}

.u_act{
    border:2px solid rgb(217,181,81) !important;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255) !important;
    font-weight: bold;
}

.u_act:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.7s !important;
    color: rgb(0,0,0) !important;
}

.u_exp{
    border:2px solid rgb(217,181,81) !important;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255) !important;
    font-weight: bold;
}

.u_exp:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.7s !important;
    color: rgb(0,0,0) !important;
}

.bell {
    letter-spacing: 2px;
    background: none !important;
    border: none !important;
    margin-top: 10px;
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    font-size: 20px !important;
    color: rgb(217,181,81) !important;
}

.bell:focus{
    box-shadow: none !important;
}

.private_text{
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    color: rgb(217,181,81) !important;
    letter-spacing: 3px !important;
    opacity: 0.9;
}

.userprofileimg{
    border-radius:  50% !important;
}

.private_link{
    text-decoration: none !important; 
    color: rgb(217,181,81);
    font-size: 20px;
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
}

.badge_noti {
    position: relative;
    top: -10px;
    left: -25px;
    border: 1px solid black;
    border-radius: 50% !important;
    background-color: #F84F31 !important;
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    width: 30px;
    padding: 5px !important;
    font-size: 15px !important;
}

.noti_text{
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    color: rgb(217,181,81);
}

.noti_btn_div{
    font-family: 'Kudryashev Display' !important;
    font-weight: bold;
    margin-top: 5%;
}

#noti_div{
    border-bottom: 2px solid rgb(217,181,81) !important;
    margin-top: 5px !important;
    border-bottom-right-radius: 5% !important;
}

.allow{
    border: 2px solid rgb(217,181,81) !important;
    background: rgb(0,0,0) !important; 
    color: rgb(217,181,81) !important;  
}

.allow:hover{
    background: rgb(217,181,81) !important;
    transition-duration: 0.9 !important;
    color: #fff !important;
}

.disallow{
    border: 2px solid rgb(219, 20, 40)!important;
    background: rgb(0,0,0) !important;
    color: rgb(217,181,81) !important;  
}

.disallow:hover{
    background: rgb(219, 20, 40) !important;
    transition-duration: 0.9s !important;
    color: #fff !important;
}

#secure_status{
    text-transform: capitalize;
}

#cns_main_card{
    background-color: rgb(217,181,81) !important;
}

#cns_card{
    background-color: rgb(0,0,0);
    border-top-right-radius: 5% !important;
    border-bottom-left-radius: 5% !important;
}

#seemore_contact_btn{
    border: 2px solid rgb(217,181,81) !important;
    background-color: rgb(0,0,0) !important;
    letter-spacing: 2px;
    font-family: 'Kudryashev Display' !important;
    text-transform: uppercase;
    font-weight: bold;
}


#seemore_contact_btn:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.9s;
}

#seemore_contact_btn:focus{
    box-shadow: none !important;
}


#linkcns{
    border: 2px solid rgb(217,181,81) !important;
    background-color: rgb(0,0,0) !important;
    letter-spacing: 2px;
    font-family: 'Kudryashev Display' !important;
    text-transform: capitalize;
    font-weight: bold;
}

#linkcns:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 0.9s;
    color: #000;
}


#linkcns:focus{
    box-shadow: none !important;
}


#namesection > label, #comsection > label, #positionsection > label, #bdsection > label, 
#mobilesection > label, #phonesection > label , #officesection > label, #personalsection > label, 
#officeemailsection > label, #wbonesection > label, #wbtwosection > label, #wbthreesection > label,
#home_strone_section > label, #home_strtwo_section > label, #home_postal_section > label,
#home_state_section > label, #home_city_section > label, #home_country_section > label,
#work_strone_section > label, #work_strtwo_section > label, #work_postal_section > label,
#work_state_section > label, #work_city_section > label, #work_country_section > label{
    text-transform: uppercase !important;
    border-bottom: 2px solid rgb(217,181,81, 0.5);
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.card-header{
    font-family: 'Kudryashev Display' !important;
    text-transform: uppercase;
    font-weight: bold;
}

#wbonesection > label, #wbtwosection > label, #wbthreesection > label{
    display: block !important;
}

#disappear_cns:hover{
    transition-duration: 0.9s !important;
}


@media only screen and (max-width: 425px) {
    #cands_section{
        height: 2700px !important;
    }
    .contact_margin{
        margin-top: 60px !important;
    }

    .about_margin{
        margin-top: 60px !important;
    }
    
    .product_margin{
        margin-top: 60px !important;
    }

    #home_height{
        height: 800px !important;
    }

    #profile_container{
        height: 1400px !important;
    }

    #menu_container{
        height: 650px !important;
    }

    #countdown{
        font-stretch: expanded !important;
        text-align: center !important;
        margin-top: 30px !important;
    }

    .payment {
        padding-left: 0 !important;
        /* border-radius: 50% !important; */
    }
    
    #action {
        width: 100%;
        height: auto;
    }

    #create{
        width: 100%;
        height: auto;
    }

    #profile{
        width: 100%;
        height: auto;
    }

    #setting{
        width: 100%;
        height: auto;
    }

      .profile_text{
          text-align: center !important;
      }
      

      #front_img{
          width: 300px;
          height: 300px;
          transform-style: preserve-3d;
          transform: rotateX(-35deg) rotateY(20deg);
      }

      #back_img{
        width: 300px;
        height: 300px;
        transform-style: preserve-3d;
        transform: rotateX(-35deg) rotateY(20deg);
    }

    #background_color{
        margin-left: 60px !important;
    }

    #text_highlight_color{
        margin-left: 60px !important;
    }

    #text_color{
        margin-left: 120px !important;
    }


    .text-margin{
        margin-top: 20px;
    }

    .drop_link{
        text-align: left !important;
      }
    
      .lang_drop{
        text-align: left !important;
        padding-left: 25px !important;
      }

      .userprofileimg{
          width: 130px !important;
          height: 120px !important;
      }

      .loading-text{
          margin-top: 90%;
      }

  }




  @supports (-webkit-touch-callout: none) {
    .about_ios{
        margin-top: 20% !important;
    }

    .navli {
        letter-spacing: none !important;
    }

    .btn-blank{
        letter-spacing: none !important;
    }

    .about-text{
        letter-spacing: none !important;
    }

    .con_li{
        letter-spacing: none !important;
    }
    .contact_address{
        letter-spacing: none !important;
    }

    .social{
        line-height: 55px !important;
    }
 }
