@import url(//db.onlinewebfonts.com/c/8be4a2f403c2dc27187d892cca388e24?family=Britannic+Bold);

html,
body {
    background-color: rgb(0,0,0) !important;
      /* overflow-y: hidden; */
      height: 100%;
      position: relative;
}

.register_logo {
    text-align: center !important;
    width: 300px;
    height: 300px;
}

.register-input,.login-input {
    border: 2px solid rgb(217,181,81) !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important; 
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: rgb(0,0,0) !important;
    color: #fff !important;
}

.register-input:focus, .login-input:focus {
    background-color: rgb(0,0,0) !important;
}

::placeholder {
    font-weight: bold;
    font-family: "Britannic Bold";
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
  }
  input[data-autocompleted] {
      background-color: transparent !important;
  }

  .hr{
      border-top: 3px solid rgb(217,181,81,0.8);
      opacity: 0.8;
  }

  .text{
      color: rgb(217,181,81) !important;
      font-weight: bold;
      font-family: "Britannic Bold";
  }

  .vvip_text{
    color: rgb(217,181,81) !important;
    font-weight: bold;
    font-size: 18px;
    font-family: "Britannic Bold";
    display: inline !important;
    text-align: right;
}


  .url{
      /* text-align: center !important; */
      color: rgb(217,181,81,0.8);
      font-family: "Britannic Bold";
      display:inline-block !important;
  }

  input[type='radio'] { accent-color: rgb(217,181,81,0.8); }


  .url_input{
    border: 2px solid rgb(217,181,81) !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important; 
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: rgb(0,0,0) !important;
    color: rgb(255,255,255, 0.5)!important;
    display: inline !important;
  }

  .hr_bottom{
    border-bottom: 3px solid rgb(217,181,81,0.8);
    opacity: 0.8;
}

.register-btn{
    background-color: rgb(217,181,81) !important;
    color: #000 !important;
    font-family: "Britannic Bold";
    border-color:  rgb(217,181,81) !important;
}

.login-btn {
    background-color: rgb(217,181,81) !important;
    color: #000 !important;
    font-family: "Britannic Bold";
    border-color:  rgb(217,181,81) !important;
}


.link{
    color: rgb(217,181,81) !important;
    font-weight: bold;
    font-family: "Britannic Bold";
    text-align: center !important;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
}


.main_logo{
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
}

svg{
    width: 100px;
    height: 100px;
    margin: 20px;
    display:inline-block;
    top: 70% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
  }


  .bg-dark{
    background-color: rgb(0,0,0) !important;
  }


  .card-custom{
      height: 500px;
      border: 2px solid rgb(217,181,81) !important;
      background-color: rgb(0,0,0) !important;
      color: #fff;  
  }

.plan{
    top: 30% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: "Britannic Bold";
    letter-spacing: 4px;
}

.tier{
    top: 40% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: "Britannic Bold";
    /* letter-spacing: 3px; */
}

.img-plan{
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
}

.plan_text{
    top: 60% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 26px;
    letter-spacing: 3px;
    font-family: "Britannic Bold";
}

.plan_text_two{
    top: 68% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 26px;
    letter-spacing: 3px;
    font-family: "Britannic Bold";
}

.plan_btn {
    top: 85% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 250px;
    font-weight: bold !important;
    font-family: "Britannic Bold";
}

.web_pin{
border: 2px solid rgb(217,181,81) !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important; 
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: rgb(0,0,0) !important;
    color: #fff !important;
}


.pin_btn{
    background-color: rgb(217,181,81) !important;
    color: #000 !important;
    font-family: "Britannic Bold";
    border-color:  rgb(217,181,81) !important;
}

.load{
    margin-top: 120px !important;
    overflow: auto !important;
}

.logo{
    width: 300px !important;
    height: 300px;
}

* { box-sizing: border-box; }



.url_text{
    text-align: left !important;
    color: rgb(217,181,81) !important;
    font-weight: bold;
    font-family: "Britannic Bold";
    font-size: 17px;
    padding-top: 5px !important;
}

.template {
    border: 2px solid rgb(217,181,81) !important;
    background-color:  rgb(0,0,0) !important;
    font-size: 18px;
}

.template:hover {
    background-color:  rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

.sub-btn{
    border: 2px solid rgb(217,181,81) !important;
    background-color:  rgb(0,0,0) !important;
    font-size: 19px;
    margin-right: 5px !important;
    float: right !important;
}

.sub-btn:hover{
    background-color:  rgb(217,181,81) !important;
    transition-duration: 1s !important;
    color: rgb(0,0,0);
}

.save{
    border: 2px solid rgb(217,181,81) !important;
    background-color:  rgb(0,0,0) !important;
}

.save:hover{
    background-color:  rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

#countdown{
    color : rgb(217,181,81) !important;
    display: inline-block !important;
    vertical-align: middle !important;  
    font-weight: bold;
    font-family: "Britannic Bold";
}


.register_image{
    width:  300px;
    height: 300px;
    margin-top: 30px !important;
}

.panel-text{
    color : rgb(217,181,81) !important;
    text-align: center;
    font-family: "Britannic Bold";
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 20px;
    margin-top: 30px;
}

.dropdown-toggle{
    text-transform: capitalize !important;
}

@media only screen and (max-width: 600px) {
    #countdown{
        font-stretch: expanded !important;
        text-align: center !important;
        margin-top: 30px !important;
    }
  }
  
  