@import url(//db.onlinewebfonts.com/c/8be4a2f403c2dc27187d892cca388e24?family=Britannic+Bold);

html,
body {
    background-color: rgb(0,0,0) !important;
      height: 100% !important;
      position: relative;
}

body {
    height: 100%;
    width: 100%;
}


/* 
footer{
    width: 100%;
    top: 90.2%;
    position: fixed;
    background-color:  rgb(0,0,0) !important;
} */


.register_logo {
    text-align: center !important;
    width: 300px;
    height: 300px;
}

.register-input,.login-input {
    border: 2px solid rgb(217,181,81) !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important; 
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: rgb(0,0,0) !important;
    color: #fff !important;
}

.register-input:focus, .login-input:focus {
    background-color: rgb(0,0,0) !important;
}

::placeholder {
    font-weight: bold;
    font-family: "Britannic Bold";
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
  }
  input[data-autocompleted] {
      background-color: transparent !important;
  }

  .hr{
      border-top: 3px solid rgb(217,181,81,0.8);
      opacity: 0.8;
  }

  .text{
      color: rgb(217,181,81) !important;
      font-weight: bold;
      font-family: "Britannic Bold";
  }

  .vvip_text{
    color: rgb(217,181,81) !important;
    font-weight: bold;
    font-size: 18px;
    font-family: "Britannic Bold";
    display: inline !important;
    text-align: right;
}


  .url{
      /* text-align: center !important; */
      color: rgb(217,181,81,0.8);
      font-family: "Britannic Bold";
      display:inline-block !important;
  }

  input[type='radio'] { accent-color: rgb(217,181,81,0.8); }


  .url_input{
    border: 2px solid rgb(217,181,81) !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important; 
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: rgb(0,0,0) !important;
    color: rgb(255,255,255, 0.5)!important;
    display: inline !important;
  }

  .hr_bottom{
    border-bottom: 3px solid rgb(217,181,81,0.8);
    opacity: 0.8;
}

.register-btn{
    background-color: rgb(217,181,81) !important;
    color: #000 !important;
    font-family: "Britannic Bold";
    border-color:  rgb(217,181,81) !important;
}

.login-btn {
    background-color: rgb(217,181,81) !important;
    color: #000 !important;
    font-family: "Britannic Bold";
    border-color:  rgb(217,181,81) !important;
}


.link{
    color: rgb(217,181,81) !important;
    font-weight: bold;
    font-family: "Britannic Bold";
    text-align: center !important;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
}


.main_logo{
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
}

svg{
    width: 100px;
    height: 100px;
    margin: 20px;
    display:inline-block;
    top: 70% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
  }


  .bg-dark{
    background-color: rgb(0,0,0) !important;
  }


  .card-custom{
      height: 500px;
      border: 2px solid rgb(217,181,81) !important;
      background-color: rgb(0,0,0) !important;
      color: #fff;  
  }

.plan{
    top: 30% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: "Britannic Bold";
    letter-spacing: 4px;
}

.tier{
    top: 40% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: "Britannic Bold";
    /* letter-spacing: 3px; */
}

.img-plan{
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
}

.plan_text{
    top: 60% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 26px;
    letter-spacing: 3px;
    font-family: "Britannic Bold";
}

.plan_text_two{
    top: 68% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 26px;
    letter-spacing: 3px;
    font-family: "Britannic Bold";
}

.plan_btn {
    top: 85% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 250px;
    font-weight: bold !important;
    font-family: "Britannic Bold";
}

.web_pin{
border: 2px solid rgb(217,181,81) !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important; 
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: rgb(0,0,0) !important;
    color: #fff !important;
}


.pin_btn{
    background-color: rgb(217,181,81) !important;
    color: #000 !important;
    font-family: "Britannic Bold";
    border-color:  rgb(217,181,81) !important;
}

.load{
    margin-top: 120px !important;
    overflow: auto !important;
}

.logo{
    width: 300px !important;
    height: 300px;
}

* { box-sizing: border-box; }



.url_text{
    text-align: left !important;
    color: rgb(217,181,81) !important;
    font-weight: bold;
    font-family: "Britannic Bold";
    font-size: 17px;
    padding-top: 5px !important;
}

.template {
    border: 2px solid rgb(217,181,81) !important;
    background-color:  rgb(0,0,0) !important;
    font-size: 18px;
}

.template:hover {
    background-color:  rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

.sub-btn{
    border: 2px solid rgb(217,181,81) !important;
    background-color:  rgb(0,0,0) !important;
    font-size: 19px;
    margin-right: 5px !important;
    float: right !important;
}

.sub-btn:hover{
    background-color:  rgb(217,181,81) !important;
    transition-duration: 1s !important;
    color: rgb(0,0,0);
}

.save{
    border: 2px solid rgb(217,181,81) !important;
    background-color:  rgb(0,0,0) !important;
}

.save:hover{
    background-color:  rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

#countdown{
    color : #d9b551 !important;
    display: inline-block !important;
    vertical-align: middle !important;  
    font-weight: bold;
    font-family: "Britannic Bold";
    display: flex !important;
    justify-content: center !important;
    font-size: 30px;
    margin-top: 10% !important;
    text-align: center !important;
}

#days {
    margin-right: 20px !important;
}

#minutes{
    margin-left: 20px !important;
}

#seconds {
    margin-left: 20px !important;
}

span {
    display: block;
    font-size: 25px;
    color: white;
  }


.register_image{
    width:  300px;
    height: 300px;
    margin-top: 5% !important;
}

.panel-text{
    color : rgb(217,181,81) !important;
    text-align: center;
    font-family: "Britannic Bold";
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 20px;
    margin-top: 30px;
}

.dropdown-toggle{
    text-transform: capitalize !important;
}


.modal-open{overflow:auto !important;padding-right:0 !important;}


.modal {
    padding-right: 0px !important;
}

#image_data {
    margin-top: 10px !important;
    transform-style: preserve-3d;
    transform: rotateX(-35deg) rotateY(20deg);
    box-shadow: rgb(217,181,81) 0px 60px 40px -7px;
}

.modal-content,.modal-body{
    background-color: rgb(0,0,0) !important;
    border-bottom : none !important;
}

.modal-footer{
    border-top : none !important;
}

#front_img{
    transform-style: preserve-3d;
    transform: rotateX(-35deg) rotateY(20deg);
    box-shadow: rgb(217,181,81) 0px 60px 40px -7px;
}

#back_img{
    transform-style: preserve-3d;
    transform: rotateX(-35deg) rotateY(20deg);
    box-shadow: rgb(217,181,81) 0px 60px 40px -7px;
}

.zoom{
    margin-top: 5px !important;
    background-color: rgb(0,0,0) !important;
    border: 2px solid rgb(217,181,81) !important;
}

.zoom:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

#success_p{
    color: rgb(217,181,81) !important;
    font-family: "Britannic Bold";
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px !important;
    letter-spacing: 5px;
}

#select_card{
    margin-top: 5px !important;
    background-color: rgb(0,0,0) !important;
    border: 2px solid rgb(217,181,81) !important;
}

#select_card:hover{
    background-color: rgb(217,181,81) !important;
    transition-duration: 1s !important;
}

#cancel{
    border: 2px solid rgb(217,181,81) !important;
    margin-top: 4px !important;
}


#card_blank_front{
    margin-top: 5% !important;
    width: 450px;
    height: 250px;
    background-color: #fff;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(217,181,81, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#card_blank_back{
    margin-top: 5% !important;
    width: 450px;
    height: 250px;
    background-color: #fff;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(217,181,81, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#card_back{
    position:relative;
}

.color_border{
    border: 2px solid rgb(217,181,81);
}

#qr_scan{
    position: absolute;
    top: 64% !important;
    left: 41% !important;
}

.btn-place{
    margin-top: 5px !important;
}
  
.home-col{
    position: relative;
}

.home-col img{
box-shadow:  2px 2px 10px rgb(217,181,81, 0.5);
}

.home-col .action{
position: absolute;
top: 46%;
left: 65%;
}

.home-col .create{
position: absolute;
top: 46%;
left: 23%;
}

.home-col .profile{
position: absolute;
top: 46%;
left: 65%;
}

.home-col .setting{
position: absolute;
top: 46%;
left: 23%;
}

.profile_img{
    border-radius: 50%;
}

.create_content{
    background-color: rgb(217,181,81) !important;
}

.menu{
    font-size: 20px !important;
    color: #fff;
    text-decoration: none;
}

.color_black{
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    font-family: "Britannic Bold";
    letter-spacing: 2px;
}

.appear{
    font-family: "Britannic Bold";
    color: #000;
    letter-spacing: 2px;
    font-weight: bold;
}

.social_link{
    padding-top: 12px !important;
    padding-left: 10px !important;
}

.dlink_card{
    background-color: rgb(51,51,51) !important;
    border: none !important;
}

.dlink_main_card{
    border: none !important;
    background-color: rgb(51,51,51) !important;
}


.dlink_btn{
    margin-top: 10px;
    background-color: rgb(51,51,51) !important;
}

.active_card{
    background-color: rgb(217,181,81) !important;
    border: 2px solid rgb(217,181,81) !important;
}

#ca{
    background-color: rgb(0,0,0) !important;
}

/* input[type="file"]:after {color: #fff !important;} */
label.label_file { 
    padding: 5px;
  }

  .file_upload {
    display: none !important;
}


.action-btn{
    background-color: rgb(0,0,0) !important;
    font-family: "Britannic Bold";
    color: #fff !important;
    border-color: rgb(217,181,81) !important;
}


@media only screen and (max-width: 600px) {
    #countdown{
        font-stretch: expanded !important;
        text-align: center !important;
        margin-top: 30px !important;
    }

    .payment {
        padding-left: 0 !important;
    }

    .home-col img{
        width: 150px !important;
        height: 150px !important;
    }

    .home-col .action{
        position: absolute;
        top: 41%;
        left: 45%;
      }
    
      .home-col .create{
        position: absolute;
        top: 41%;
        left: 23%;
      }
    
      .home-col .profile{
        position: absolute;
        top: 41%;
        left: 47%;
      }
    
      .home-col .setting{
        position: absolute;
        top: 41%;
        left: 23%;
      }

      .profile_text{
          text-align: center !important;
      }

  }
  
  